In [1]:
from pyspark.sql import window
from pyspark.sql import functions

client_window = window.Window.partitionBy('currency').orderBy(functions.desc('value'))

valuesA = [
    (10, 'usd', 1),
    (20, 'usd', 0),
    (20000, 'krw', 0),
    (30000, 'krw', 1),
    (30, 'usd', 1),
]

df = spark.createDataFrame(valuesA,['value','currency','click'])
df = df.withColumn('rank', functions.row_number().over(client_window))
df.show()

temp = df.groupBy('currency').agg(functions.max('rank').alias('max_rank'))
temp.show()

+-----+--------+-----+----+
|value|currency|click|rank|
+-----+--------+-----+----+
|30000|     krw|    1|   1|
|20000|     krw|    0|   2|
|   30|     usd|    1|   1|
|   20|     usd|    0|   2|
|   10|     usd|    1|   3|
+-----+--------+-----+----+

+--------+--------+
|currency|max_rank|
+--------+--------+
|     krw|       2|
|     usd|       3|
+--------+--------+